// common styles    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none

.container
    max-width: 1785px
    width: 100%
    margin: 0 auto
    padding: 0 15px

.title
    font-family: sans-serif
    font-style: normal
    font-weight: 600

.title-extra-large
    font-size: 50px
    line-height: 61px
    color: #FFFFFF
    text-transform: uppercase
    text-align: center

.title-large
    font-size: 32px
    line-height: 37px
    color: #000000
    text-align: center

.title-medium
    font-size: 22px
    line-height: 24px
    font-weight: 100

.title-small
    font-size: 18px
    line-height: 22px
    color: #0F0F0F
    font-weight: 100

.paragraph
    font-family: sans-serif
    color: #000000
    font-weight: 100
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis

.paragraph-small
    font-size: 16px
    line-height: 22px
    -webkit-line-clamp: 3

.paragraph-large
    font-size: 26px
    line-height: 31px
//end  common styles  

// header styles      
.header
    .container
        display: flex
        align-items: center
        justify-content: space-between
        padding: 25px 15px
        .btn
            border: solid 1px transparent
            outline: none
            background-color: #4468E2
            border-radius: 18px
            padding: 8px 15px
            font-family: sans-serif
            color: #fff
            transition: all 0.5s ease
            &:hover
                border: solid 1px #4468E2
                cursor: pointer
                background-color: transparent
                color: #163235
        ul
            display: flex
            align-items: center
            justify-content: center
            gap: 0 80px
            a
                font-family: sans-serif
                color: #1C4961
                font-size: 16px
                font-weight: 600
                opacity: 0.5
                padding: 10px 0
                transition: all 0.5s ease
                &:hover
                    opacity: 1
        .actions
            display: flex
            align-items: center
            flex-direction: row-reverse
            gap: 0 15px
            .burger
                display: none
                flex-direction: column
                gap: 10px 0
                .line
                    display: block
                    height: 1px
                    width: 30px
                    background-color: #1C4961

.footer
    background-color: #E1E8F8
    border-radius: 18px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 0 30px
    padding: 80px 30px
    margin-bottom: 100px
    ul
        display: flex
        align-items: center
    .footer-nav
        gap: 0 70px
        a
            font-family: sans-serif
            color: #1C4961
            font-size: 16px
            font-weight: 200
            transition: all 0.5s ease
            padding-bottom: 5px
            position: relative
            &::after
                content: ''
                height: 1px
                width: 100%
                position: absolute
                left: 0
                bottom: 0
                background-color: #1C4961
                opacity: 0
                transition: all 0.5s ease
            &:hover
                &::after
                    opacity: 1
    .footer-social
        gap: 0 30px
        a
            display: block
            width: 30px
            height: 30px
            border-radius: 50%
            transition: all 0.5s ease
            img
                width: 100%
                height: 100%
                object-fit: contain
            &:hover
                box-shadow: 0 0 10px #000000a7

.menu-open
    .header
        .container
            ul
                transform: translateX(0%)
            .burger
                z-index: 999
                gap: 0
                position: fixed
                right: 15px
                .line
                    background-color: #fff
                .line1
                    transform: rotate(45deg)
                .line2
                    transform: rotate(-45deg)

@media (max-width: 1280px)
    .footer
        flex-direction: column-reverse
        gap: 30px 0

@media (max-width: 992px)
    .header
        .container
            ul
                gap: 0 50px

@media (max-width: 768px)
    .header
        .container
            ul
                position: fixed
                top: 0
                right: 0
                height: 100vh
                width: 100%
                background-color: #1C4961
                flex-direction: column
                align-items: center
                gap: 50px 0
                transform: translateX(100%)
                transition: all 0.5s ease
                a
                    color: #fff
            .actions
                flex-direction: row
                .burger
                    display: flex
                    .line
                        transition: all 0.5s ease

    .title-extra-large
        font-size: 36px
        line-height: 44px

    .title-large
        font-size: 26px
        line-height: 28px

    .title-medium
        font-size: 18px
        line-height: 22px

@media (max-width: 576px)
    .header
        .container
            padding: 15px

    .footer-container
        padding: 0
        .footer
            margin: 0
            border-radius: 0
            .footer-nav
                gap: 0 15px
            .paragraph-small
                text-align: center
                font-size: 12px

    .title-extra-large
        font-size: 26px
        line-height: 37px

@media (max-width: 375px)
    .title-large
        font-size: 22px
        line-height: 20px
