// common styles    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none

.container
    max-width: 1785px
    width: 100%
    margin: 0 auto
    padding: 0 15px

.title
    font-family: sans-serif
    font-style: normal
    font-weight: 600

.title-extra-large
    font-size: 50px
    line-height: 61px
    color: #FFFFFF
    text-transform: uppercase

.title-large
    font-size: 40px
    line-height: 48px
    color: #000000

.title-medium
    font-size: 26px
    line-height: 31px
    font-weight: 100

.title-small
    font-size: 24px
    line-height: 29px
    color: #0F0F0F
    font-weight: 100

.parapraph
    font-family: sans-serif
    color: #000000
    font-weight: 100
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis

.parapraph-small
    font-size: 20px
    line-height: 24px
    -webkit-line-clamp: 3

.parapraph-large
    font-size: 26px
    line-height: 31px
//end  common styles  

// header styles      
.header
    .container
        display: flex
        align-items: center
        justify-content: space-between
        padding: 25px 15px
        ul
            display: flex
            align-items: center
            justify-content: center
            gap: 0 80px
