.page-main .banner {
  background-image: url(/assets/media/banner.jpg);
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;
  overflow: hidden;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-main .banner .paragraph {
  text-align: center;
  color: #fff;
  font-size: 22px;
}
.page-main .intro-wrapper {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}
.page-main .benefits-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 15px;
  padding: 100px 0 180px 0;
}
.page-main .benefits-wrapper .benefit {
  max-width: 369;
  width: 100%;
  height: 294px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.5411764706);
  border-radius: 18px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
}
.page-main .benefits-wrapper .benefit .benefit-image {
  width: 103px;
  height: 97px;
  background-color: #EBF0FE;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}
.page-main .benefits-wrapper .benefit .benefit-image img {
  width: 45%;
}
.page-main .destination-wrapper {
  background-color: #F1FAFF;
  padding: 70px 0 90px 0;
}
.page-main .destination-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 85px 0;
}
.page-main .destination-wrapper .container .list-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 60px;
}
.page-main .destination-wrapper .container .list-wrapper .destination {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  cursor: pointer;
}
.page-main .destination-wrapper .container .list-wrapper .destination:hover .title-medium {
  opacity: 1;
}
.page-main .destination-wrapper .container .list-wrapper .destination:hover .paragraph-small {
  opacity: 1;
}
.page-main .destination-wrapper .container .list-wrapper .destination:hover .image-wrapper img {
  transform: scale(1.2);
  cursor: pointer;
}
.page-main .destination-wrapper .container .list-wrapper .destination .image-wrapper {
  width: 100%;
  height: 300px;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-main .destination-wrapper .container .list-wrapper .destination .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.page-main .destination-wrapper .container .list-wrapper .destination .paragraph-small {
  -webkit-line-clamp: 2;
  opacity: 0.4;
  transition: all 0.5s ease;
}
.page-main .destination-wrapper .container .list-wrapper .destination .destination-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-main .destination-wrapper .container .list-wrapper .destination .destination-row .vectors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
.page-main .destination-wrapper .container .list-wrapper .destination .destination-row .vectors .vector {
  width: 25px;
  height: 25px;
}
.page-main .destination-wrapper .container .list-wrapper .destination .destination-row .vectors .vector img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-main .destination-wrapper .container .list-wrapper .destination .destination-row .price {
  font-weight: 600;
}
.page-main .destination-wrapper .container .list-wrapper .destination .destination-row .add-info {
  font-family: sans-serif;
  font-size: 12px;
}
.page-main .destination-wrapper .container .list-wrapper .destination .title-medium {
  font-weight: 400;
  opacity: 0.4;
  transition: all 0.5s ease;
}
.page-main .blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 185px 15px;
  gap: 75px 0;
}
.page-main .blog-wrapper .blogs {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 15px;
}
.page-main .blog-wrapper .blogs img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-main .blog-wrapper .blogs .blog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-main .blog-wrapper .blogs .blog .title {
  color: #fff;
  position: relative;
  z-index: 999;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  max-width: 60%;
  transition: all 1s ease;
}
.page-main .blog-wrapper .blogs .blog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(65, 65, 65, 0.5647058824);
  border-radius: 18px;
  transition: all 0.5s ease;
}
.page-main .blog-wrapper .blogs .blog:hover::after,
.page-main .blog-wrapper .blogs .blog:hover .title {
  opacity: 0;
  cursor: pointer;
}
.page-main .blog-wrapper .blogs .main-blog {
  background-image: url(/assets/media/blog-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;
  max-width: 965px;
  width: 100%;
  height: 570px;
}
.page-main .blog-wrapper .blogs .blogs-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px 0;
}
.page-main .blog-wrapper .blogs .blogs-col .blog {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;
  width: 100%;
  height: 277px;
}
.page-main .blog-wrapper .blogs .blogs-col .sec-blog {
  background-image: url(/assets/media/blog-2.jpg);
}
.page-main .blog-wrapper .blogs .blogs-col .third-blog {
  background-image: url(/assets/media/blog-3.jpg);
}
.page-main .customers-wrapper {
  max-width: 1785px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px 0;
}
.page-main .customers-wrapper .slider {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.page-main .customers-wrapper .slider .customers-list-wrapper {
  width: 100%;
  display: flex;
  gap: 0 40px;
  margin-bottom: 180px;
  animation: scroll 40s linear infinite;
}
.page-main .customers-wrapper .slider .customers-list-wrapper:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.page-main .customers-wrapper .slider .customers-list-wrapper .customer {
  background-image: url(/assets/media/author-vec.svg);
  background-repeat: no-repeat;
  background-position-y: 60px;
  background-position-x: 20px;
  min-width: 918px;
  width: 918px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.54);
  border-radius: 18px;
  padding: 55px 55px 55px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px 0;
}
.page-main .customers-wrapper .slider .customers-list-wrapper .customer .paragraph-small {
  -webkit-line-clamp: 5;
}
.page-main .customers-wrapper .slider .customers-list-wrapper .customer .author {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.page-main .customers-wrapper .slider .customers-list-wrapper .customer .author .author-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.page-main .customers-wrapper .slider .customers-list-wrapper .customer .author .author-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-main .customers-wrapper .slider .customers-list-wrapper .customer .author span {
  font-family: sans-serif;
  font-size: 14px;
  color: #848484;
}

@media (max-width: 1080px) {
  .page-main .benefits-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .page-main .benefits-wrapper .benefit {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(229, 233, 246, 0.54);
  }
  .page-main .destination-wrapper .container {
    gap: 50px 0;
  }
  .page-main .destination-wrapper .container .list-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 15px;
  }
  .page-main .blog-wrapper {
    padding: 50px 15px;
    gap: 50px 0;
  }
  .page-main .customers-wrapper {
    gap: 50px 0;
  }
  .page-main .customers-wrapper .slider .customers-list-wrapper {
    animation: none;
    overflow: scroll;
    margin: 0;
    padding-bottom: 60px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .page-main .customers-wrapper .slider .customers-list-wrapper::-webkit-scrollbar {
    display: none;
  }
  .page-main .customers-wrapper .slider .customers-list-wrapper .customer {
    min-width: 700px;
    width: 700px;
    padding: 25px 25px 25px 80px;
    gap: 20px 0;
    background-size: 40px;
    background-position-y: 31px;
  }
  .page-main .customers-wrapper .slider .customers-list-wrapper .customer .author .author-image {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 768px) {
  .page-main .banner .paragraph {
    max-width: 80%;
    font-size: 18px;
  }
  .page-main .destination-wrapper .container .list-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .page-main .destination-wrapper .container .list-wrapper .destination .title-medium,
  .page-main .destination-wrapper .container .list-wrapper .destination .paragraph-small {
    opacity: 1;
  }
  .page-main .blog-wrapper .blogs {
    flex-direction: column;
    gap: 15px 0;
  }
  .page-main .blog-wrapper .blogs .main-blog {
    height: 277px;
  }
  .page-main .blog-wrapper .blogs .blog .title {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 576px) {
  .page-main .top-container {
    padding: 0;
  }
  .page-main .top-container .banner {
    height: 300px;
    border-radius: 0;
  }
  .page-main .benefits-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 15px;
  }
  .page-main .benefits-wrapper .benefit {
    gap: 15px 0;
    height: 230px;
    padding: 25px;
  }
  .page-main .benefits-wrapper .benefit .benefit-image {
    width: 60px;
    height: 60px;
  }
  .page-main .destination-wrapper {
    padding: 50px 0 90px 0;
  }
  .page-main .destination-wrapper .container {
    gap: 50px 0;
  }
  .page-main .blog-wrapper {
    gap: 35px 0;
  }
  .page-main .blog-wrapper .blogs .blog .title {
    max-width: 84%;
  }
  .page-main .customers-wrapper {
    gap: 40px 0;
  }
  .page-main .customers-wrapper .slider .customers-list-wrapper {
    padding: 0 15px 60px 15px;
    gap: 0 15px;
  }
  .page-main .customers-wrapper .slider .customers-list-wrapper .customer {
    background-size: 25px;
    background-position-x: 10px;
    padding: 25px 25px 25px 48px;
    min-width: 300px;
    width: 300px;
  }
  .page-main .customers-wrapper .slider .customers-list-wrapper .customer .paragraph-small {
    -webkit-line-clamp: 10;
  }
}/*# sourceMappingURL=main.css.map */